---
import Layout from '../layouts/Layout.astro'
import bg from '../assets/background.svg'
import Resume from '../components/Resume'
import '../styles/global.css'
import PackageLinks from '../components/PackageLinks/PackageLinks'
---

<Layout>
  <div class="container">
    <Resume client:load />
    <img
      class="background"
      src={bg.src}
      alt="bg"
    />
  </div>
  <PackageLinks
    client:load
    npmUrl="https://www.npmjs.com/package/react-resume-kit"
    githubUrl="https://github.com/Kiyameh/react-resume-kit"
    packageName="react-resume-kit"
  />
</Layout>

<style>
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  @media print {
    .background {
      display: none;
    }
  }
</style>
