.rrk-courses-course {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .rrk-courses-course {
    flex-direction: row;
  }
}

.rrk-courses-degree {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--rrk-content);
}

@media print {
  .rrk-courses-degree {
    font-size: 1rem;
  }
  .rrk-courses-school {
    font-size: 0.75rem;
  }
}
