.rrk-dateChip {
  max-width: fit-content;
  display: inline-flex;
  padding: 0.125rem 0.625rem;
  font-size: 0.75rem;
  transition: background-color 0.2s, color 0.2s;
  font-weight: normal;
  border-radius: 5rem;
  border: 1px solid var(--rrk-primary-soft);
  background-color: var(--rrk-surface-100);
  color: var(--rrk-primary);
  white-space: nowrap;
}

.rrk-dateChip:hover {
  background-color: var(--rrk-surface-200);
}

@media print {
  .rrk-dateChip {
    font-size: 0.75rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}
