/* Social Buttons */
.rrk-contact-social-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media print {
  .rrk-contact-social-buttons {
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.75rem;
  }
}

.rrk-contact-social-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.rrk-contact-button {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--rrk-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rrk-radius-medium);
  border: 1px solid var(--rrk-primary-soft);
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}

.rrk-contact-button:hover {
  background-color: var(--rrk-surface-200);
}

@media print {
  .rrk-contact-button {
    display: none;
  }
}

.rrk-contact-url {
  display: none;
}

@media print {
  .rrk-contact-url {
    display: block;
    color: var(--rrk-primary);
  }
}

/* Attribution */

.rrk-contact-attribution {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.rrk-contact-icon {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  height: 1rem;
  width: 1rem;
  color: var(--rrk-primary);
}

@media print {
  .rrk-contact-attribution {
    padding-top: 0.25rem;
    font-size: 0.75rem;
  }
}

.rrk-contact-attribution a {
  display: flex;
  align-items: center;
}

@media print {
  .rrk-contact-github {
    display: none;
  }
}

.rrk-contact-repository-url {
  display: none;
}

@media print {
  .rrk-contact-repository-url {
    display: block;
  }
}
